<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles.css" rel="stylesheet" />
    <link rel="stylesheet" />
    <title>Energiser Scoreboard</title>
    <style>
    
    </style>
  </head>
  <body>
    <div>
      <div>
        <img src="" alt="">
      </div>
    </div>
   
    <div class="bg">
      <div> <h1>Energiser Scoreboard</h1></div> 
      <div class="table-data">
      <table id="total">
        <tr:hover {background-color: #f5f5f5;}>
          <th scope="col">Name</th>
          <th scope="col">Total</th>
        </tr>
      </table>
    </div>
    </div>
    <script src="/main.js"></script>
  </body>
</html>
