<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles.css" rel="stylesheet" />
    <link rel="stylesheet" />
    <title>Energiser Scoreboard</title>
    <style></style>
  </head>
  <body>
    <h1></h1>
    <div>
      <div>
        <img src="" alt="" />
      </div>
    </div>

    <div class="bg">
      <div id= "header"><h1>Energiser Scoreboard</h1></div>
      <div class="table-data">
        <table id="total">
          <tr>
            <th scope="col">NAME</th>
            <th scope="col">MIND</th>
            <th scope="col">GARTIC</th>
            <th scope="col">SCAVENGER HUNT</th>
            <th scope="col">SCATTERGORIES</th>
            <th scope="col">MOVIE GAME</th>
            <th scope="col">TOTAL</th>
          </tr>
        </table>
      </div>
    </div>
   <label> GAME< </label> <input id="game title"></input> </label> 
    <label>PLAYER< <input id="player name"></input></label>
    <label>SCORE<<input id="score"></input></label>
    <button>ADD</button>
    <br>
    <br>
    <br>
    <a href="https://swellgarfo.com/scattergories/">
      <img alt="scattergories logo" src="https://www.logolynx.com/images/logolynx/83/83762d63732358a930d11e09efc926c7.jpeg"
      height=150">
   </a>
   <a href="https://www.indiewire.com/2019/07/best-movie-scenes-2010s-1202160432/">
    <img alt="scattergories logo" src="https://img.freepik.com/free-vector/cinema-logo_23-2147503279.jpg?size=338&ext=jpg" height=150">
 </a>
 <a href="https://gartic.io/"></a>
  <img alt="scattergories logo" src="https://fontmeme.com/images/gartic-logo-font.png"
  height=150">
</a>
<a href="https://billetto.co.uk/blog/scavenger-hunt-ideas/">
  <img alt="scattergories logo" src="https://cdn.imgbin.com/12/24/14/imgbin-scavenger-hunt-logo-others-CwpsjCKic6tkC3LyMqJBUUK5G.jpg"
  height=150">
</a>
    <script src="/main.js"></script>
  
  </body>
</html>
