<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles.css" rel="stylesheet" />
    <link rel="stylesheet" />
    <title>Energiser Scoreboard</title>
  </head>
  <body>
    <h1>Energiser Scoreboard</h1>
    <section id="table">Scoreboard</section>
    <table id="total">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Total</th>
      </tr>
    </table>
    <script src="/main.js"></script>
  </body>
</html>
